/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f6;
  margin: 0;
}

/* AppBar (Top Navbar) */
.MuiAppBar-root {
  background-color: #d34949e1; /* Same as the old dashboard's green color */
  color: white;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

/* Drawer (Sidebar) */
.MuiDrawer-paper {
  background-color: #c44455; /* Darker green to match the theme */
  color: white;
}

.MuiListItem-root {
  padding: 16px;
}

.MuiListItemText-root {
  font-size: 16px;
}

.MuiDrawer-paper .MuiListItem-button:hover {
  background-color: #af373d;
}

.MuiListItemIcon-root {
  color: white;
}

/* Main Content */
.MuiBox-root.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-top: 64px; /* Offset for AppBar */
  background-color: #f5f5f5;
}

.MuiTypography-root.MuiTypography-h4 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.MuiBox-root.main-content .MuiButton-root {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: none;
}

.MuiButton-root.MuiButton-contained {
  background-color: #28c7c251; /* Button background color (dark green) */
  color: rgb(12, 10, 10);
}

.MuiButton-root.MuiButton-contained:hover {
  background-color: #d3d3d3; /* Lighter green on hover */
}

.MuiButton-root.MuiButton-outlined {
  border: 2px solid #8e3838;
  color: #388e3c;
}

.MuiButton-root.MuiButton-outlined:hover {
  background-color: #388e3c;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .MuiAppBar-root {
    font-size: 18px;
  }

  .MuiDrawer-paper {
    width: 10px;
  }

  .MuiTypography-root.MuiTypography-h4 {
    font-size: 24px;
  }

  .MuiButton-root.MuiButton-contained,
  .MuiButton-root.MuiButton-outlined {
    min-width: 150px;
  }
}
